<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualise</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <script type="module" src="/static/js/script.js"></script>
</head>
<body>
<div class="navbar">
    <div class="navbtn" id="randomize">randomize</div>
    <div class="navbtn" id="bubble">bubble</div>
    <div class="navbtn" id="selection">selection</div>
    <div class="navbtn" id="quick">quick</div>
</div>
<div class="body">
    <div class="picks"></div>
</div>
</body>
</html>